<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:replace="fragments/headTag :: headTag">
</head>

<body>

<header th:replace="fragments/header :: header">
</header>
<div class="container">
    <h1>Login Page</h1>

    <div th:if="${param.error}">
        <div class="alert alert-danger">

            <span th:text="#{error.login}">Email or password is invalid</span>
        </div>
    </div>

    <form action="login" method="POST">
        <table>
            <tr>
                <td th:text="#{label.email}">Email:</td>
                <td><input type="text" name="username" value=""/></td>
            </tr>
            <tr>
                <td th:text="#{label.password}">Password:</td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-success" th:text="#{label.login}"></button>
                </td>
            </tr>
        </table>
    </form>

    <a th:href="@{/register}" th:text="#{label.register}">Register</a>

</div>

</body>
</html>
