<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:replace="fragments/headTag :: headTag">
</head>

<body>

<header th:replace="fragments/header :: header">
</header>
<div class="container">
    <h1>Login Page</h1>

    <div th:if="${param.error}">
        <div class="alert alert-danger">
            
            <span th:text="${'email or password is invalid'}"></span>
        </div>
    </div>

    <form action="login" method="POST">
        <table>
            <tr>
                <td>User:</td>
                <td><input type="text" name="username" value=""/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td><input type="submit" value="submit"></td>
            </tr>
        </table>
    </form>

    <a th:href="@{/register}">Register</a>

</div>

</body>
</html>
