<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head th:replace="fragments/headTag :: headTag">
</head>

<body>

<header th:replace="fragments/header :: header">
</header>
<div class="container">
    <h1>Register</h1>

    <form th:action="@{/register}" th:object="${user}" method="POST">

        <div class="alert alert-info" th:if="${emailExists}">
            <p class="text text-center">
                user already exists
            </p>
        </div>

        <div class="form-group">
            <label for="firstName" class="form-control-label">First Name</label>
            <input type="text" class="form-control" th:field="*{firstName}" id="firstName">
            <p class="text-danger" th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>

        <div class="form-group">
            <label for="lastName" class="form-control-label">Last Name</label>
            <input type="text" class="form-control" th:field="*{lastName}" id="lastName">
            <p class="text-danger" th:each="error : ${#fields.errors('lastName')}"
               th:text="${error}">Validation error</p>
        </div>

        <div class="form-group">
            <label for="email" class="form-control-label">Email</label>
            <input type="text" class="form-control" th:field="*{email}" id="email">
            <p class="text-danger" th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
        </div>

        <div class="form-group">
            <label for="pwd" class="form-control-label">Password</label>
            <input type="password" class="form-control" th:field="*{pwd}" id="pwd">
            <p class="text-danger" th:each="error : ${#fields.errors('pwd')}"
               th:text="${error}">Validation error</p>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary">

    </form>

    <a th:href="@{/login}">Login</a>

</div>

</body>
</html>
